body {
	height: 100%;
	width: 100%;
	margin: 0;
	cursor: default;
	font-family: 'Droid Serif', serif;
}

/**Top menu CSS code*/
#menu {
	height: 40px;
	width: 1300px;
	background: #C6CCA5;
	border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	z-index: 50;
	border: solid black;
	position: fixed;
	top: 10px;
	left: calc(50% - 653px);
}

#name {
	font-weight: 700;
	color: black;
	font-size: 30px;
	position: fixed;
	left: calc(50% - 101.5px);
	margin-top: 5.5px;
	cursor: default;
}

#me {
	font-size: 22px;
	font-weight: 700;
	position: fixed;
	left: 10%;
	margin-top: 10.5px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

#resume {
	font-size: 22px;
	font-weight: 700;
	position: fixed;
	left: 25%;
	margin-top: 10.5px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

#contact {
	font-size: 22px;
	font-weight: 700;
	position: fixed;
	right: 10%;
	margin-top: 10.5px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

#blog {
	font-size: 22px;
	font-weight: 700;
	position: fixed;
	right: 25%;
	margin-top: 10.5px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.menu-item-active {
	color: white;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.menu-active {
	display: none;
}


/**Rest of the website*/
#page-wrapper {
	width: 100%;
	height: 100%;
}

#page-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	pointer-events: none;
}

.page-overlay-active {
	background: rgba(0,0,0,0.5);
}

.title {
	font-weight: 700;
	font-size: 26px;
	text-align: center;
	margin-bottom: 30px;
}

/**About Me*/
#about-container {
	padding-top: 80px;
	padding-bottom: 20px;
	overflow: auto;
	background: #8AB8A8;
}

#about-img {
	width: 45%;
	margin-left: 30px;
	float: left;
	border-radius: 50%;
}

#about-text-container {
	width: 607px;
	float: right;
	margin-right: 30px;
}

#about-text {
	font-weight: 600;
	font-size: 20px;
}


/**Resume*/
#resume-container {
	background: #6B9997;
	padding-top: 20px;
	padding-bottom: 40px; 
}

#resume-title {
	padding-top: 20px;
}

#resume-img {
	width: 70%;
	position: relative;
	left: calc(50% - 472px);
	cursor: pointer;
	z-index: 2;
}

/**Blog*/
#blog-container {
	background: #54787D;
	padding-top: 20px;
	padding-bottom: 40px; 
	overflow: auto;
}

#blog-title {
	padding-top: 20px;
}

.blog-post {
	margin-top: 30px;
	border-radius: 1%;
	border: double black;
	border-width: 5px;
	width: 1300px;
	position: relative;
	left: calc(50% - 655px);
	overflow: auto;
}

.post-top {
	overflow: auto;
	margin: 20px;
}

.post-title {
	float: left;
	font-size: 22px;
	font-weight: 600;
}

.post-date {
	float: right;
	font-size: 22px;
	font-weight: 600;
}

.post-img {
	float: left;
	width: 40%;
	border-radius: 1%;
	margin: 0px 0px 20px 20px;
}

.post-text-container {
	float: right;
	width: 700px;
	margin: 0px 20px 20px 0px;
	font-size: 20px;
}


/**Contact Me*/
#contact-container {
	background: #615145;
	padding-top: 20px;
	padding-bottom: 40px; 
	overflow: auto;
}

#contact-title {
	padding-top: 20px;
}

#contact-text {
	margin-left: 20px;
}

.contact-info {
	font-size: 20px;
	font-weight: 600;
	margin-top: 10px;
}

.contact-info-active {
	color: white;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
